@using LOB.Core
@model LOB.Web.Models.DataModel



<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Account</h1>
    <p class="lead">Account interface.</p>
</div>


@section Scripts
{
    <script type="text/javascript">
      
    </script>
}