@using LOB.Core
@model LOB.Web.Models.DataModel

<div class="section-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Index</h1>
</div>

@using (Html.BeginForm("Index", "Objects", null, FormMethod.Post, new { @class = "my-2 my-md-0" }))
{
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputQuery">ConnectionString</label>
        </div>
        @Html.TextBoxFor(m => m.Query, new { id = "inputQuery", type = "text", @class = "form-control", placeholder = "Caption" })
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Показать</button>
        </div>
    </div>
}

@{
    using (Html.BeginForm("Index", "Objects", null, FormMethod.Post, new {@class = "needs-validation", novalidate = ""}))
    {
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="inputConnectionStrings">ConnectionStrings:</label>
                        @Html.DropDownListFor(m => m.SelectedConnectionString, Model.ConnectionStrings, new {id = "inputConnectionStrings", @class = "custom-select d-block w-100", required = ""})

                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить</button>
    }
}

    <br />

    <br />
